<div class="conatiner-fluid container3">
    <div class="footercontent">
        <div class="row btnrow">
            <div class="scrolltop">
                <button type="button" class="btn btn-dark btn-lg" (click)="gotoTop()" id="backToTopID"
                    (window:scroll)="windowScroll()"><i class="fa fa-arrow-up fa-md" aria-hidden="true"
                        (click)="gotoTop()"></i></button>
            </div>
        </div>
        <div class="footbtn d-flex justify-content-lg-center">
            <div class="btngrp">
                <div class="btn">
                    <a href="https://www.facebook.com/Dsquaretaxi-100111888796626/" target="_blank">
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                    </a>
                </div>
                <div class="btn">
                    <a href="https://www.instagram.com/dsquaretaxi/" target="_blank">
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="fab fa-instagram"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="btngrp2">
                <div class="btn">
                    <a href="https://twitter.com/dsquaretaxi" target="_blank">
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="fab fa-twitter"></i>
                        </button>
                    </a>
                </div>
                <div class="btn">
                    <a href="https://www.youtube.com/channel/UCv93Im4pyd13W421TbKkbyQ/featured" target="_blank">
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="fab fa-youtube"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="footcontext d-flex justify-content-lg-around f-fam">
            <p class="par1">
                <a href="#" target="_blank">
                    Copyright © 2021 <span class="texthighlight">DSquareTaxi</span>
                </a>
            </p>

            <div class="footercontext2 d-flex justify-content-lg-center">
                <div class="link1">
                    <a href="/faq&tc">FaQ & TC</a>
                </div>
                <div>
                    <div class="padding"></div>
                </div>
                <div class="link2">
                    <a href="/cancel&lugg">Cancellation policy</a>
                </div>
            </div>
            <p class="par2">
                <a href="https://albenindia.com/" target="_blank">
                    powered by <span class="texthighlight">albenindia.com</span>
                </a>
            </p>

        </div>
    </div>
</div>