<div class="container5 f-fam">
    <div class="head">
        <h1>CONTACT US</h1>
    </div>
    <div class="row content-row">
        <div class="context1 col-lg-6">
            <div class="suncontent">
                <h3 class="title"><span>CONTACT US</span></h3>
                <div class="subcon1">
                    <div class="row">
                        <div class="ico1 col-lg-4 ">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="col-lg-8  con1">
                            <h5><strong>Customer Support: </strong></h5>
                            <p><a href="tel:9952455979">9952455979</a></p>
                        </div>
                    </div>
                </div>
                <div class="subcon2">
                    <div class="row">
                        <div class="ico2 col-lg-4 ">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="col-lg-8  con2">
                            <h5><strong>Customer Security: </strong></h5>
                            <p><a href="tel:9952455979">9952455979</a></p>
                        </div>
                    </div>
                </div>
                <div class="subcon3">
                    <div class="row">
                        <h3 class="title2"><span>Reach Us</span></h3>
                        <div class="btn1 col-lg ">
                            <a href="tel:9952455979">
                                <button type="button" class="btn btn-dark" title="Call Us">
                                    <i class="fas fa-phone-volume"></i>
                                </button>
                            </a>
                        </div>
                        <div class="btn2 col-lg">
                            <a href="tel:9952455979">
                                <button type="button" class="btn btn-dark" title="We Chat">
                                    <i class="fab fa-weixin"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="context2 col-lg-6">
            <form class="was-validated">
                <h3 class="title3"><span>CONTACT FORM</span></h3>
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                            aria-describedby="basic-addon1" id="customControlValidation1" required data-error="wrong"
                            data-success="right">
                        <div class="invalid-feedback">
                            <i class="far fa-times-circle"></i> Name Required
                        </div>
                        <div class="invalid-feedback">
                            <i class="far fa-times-circle"></i> Minimum 3 characters
                        </div>
                        <div class="valid-feedback">
                            <i class="far fa-check-circle"></i> Looks good!
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                            aria-describedby="basic-addon1" id="customControlValidation1" required data-error="wrong"
                            data-success="right">
                        <div class="invalid-feedback">
                            <i class="far fa-times-circle"></i> Email Required
                        </div>
                        <div class="invalid-feedback">
                            <i class="far fa-times-circle"></i> Email Should be Vaild
                        </div>
                        <div class="valid-feedback">
                            <i class="far fa-check-circle"></i> Looks good!
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Subject" aria-label="Subject"
                            aria-describedby="basic-addon1" id="customControlValidation1" required data-error="wrong"
                            data-success="right">
                        <div class="invalid-feedback">
                            <i class="far fa-times-circle"></i> Subject Required
                        </div>
                        <div class="invalid-feedback">
                            <i class="far fa-times-circle"></i> Minimum 2 words
                        </div>
                        <div class="valid-feedback">
                            <i class="far fa-check-circle"></i> Looks good!
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Message" aria-label="Message"
                            aria-describedby="basic-addon1" id="customControlValidation1" required data-error="wrong"
                            data-success="right">
                        <div class="invalid-feedback">
                            <i class="far fa-times-circle"></i> Message Required
                        </div>
                        <div class="invalid-feedback">
                            <i class="far fa-times-circle"></i> Minimum 2 words
                        </div>
                        <div class="valid-feedback">
                            <i class="far fa-check-circle"></i> Looks good!
                        </div>
                    </div>
                    <div class="submit-button text-lg-start">
                        <button class="btn btn-dark " type="submit">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>