<div class="container-fluid container6 f-fam">
    <div class="maincon">
        <h2><strong>Tariff-Chart</strong></h2>
        <p class="subheader"><i>One Way Trips & Round Trips</i></p>
        <div class="table-responsive">
            <table class="table tablemain">
                <tbody>
                    <tr class="trow1">
                        <td colspan="4" class="tcell1"><strong>VEHICLE TYPE</strong></td>
                        <td colspan="4" class="tcell2">
                            <strong> OneWayTRIP Rate / Km</strong>
                        </td>
                        <td colspan="4" class="tcell3"><Strong>ROUNDTRIP Rate / Km</Strong></td>
                    </tr>
                    <tr class="trow2">
                        <td colspan="4" class="tcell4">
                            <strong>Sedan</strong>
                            <p><i>(Sedan - 4 Seater cars)</i></p>
                        </td>
                        <td colspan="4" class="tcell5">Rs. 13</td>
                        <td colspan="4" class="tcell6">Rs. 10</td>
                    </tr>
                    <tr class="trow3">
                        <td colspan="4" class="tcell7">
                            <strong>Premium Sedan</strong>
                            <p><i>(Tata Zest, Hyundai Xcent, swift dzire old / New,
                                    Nissan Sunny, Toyota Etios
                                    , Ford Figo Aspire )</i></p>
                        </td>
                        <td colspan="4" class="tcell8">Rs. 14</td>
                        <td colspan="4" class="tcell9">Rs. 11</td>
                    </tr>
                    <tr class="trow4">
                        <td colspan="4" class="tcell10">
                            <Strong>SUV</Strong>
                            <p><i>(SUV - 6 or 7 Seater cars)</i></p>
                        </td>
                        <td colspan="4" class="tcell11">Rs. 16</td>
                        <td colspan="4" class="tcell12">Rs. 13</td>
                    </tr>
                    <tr class="trow5">
                        <td colspan="4" class="tcell13">
                            <strong>Premium SUV</strong>
                            <p><i>(Mahindra xylo, Mahindra Marazzo, Chevrolet Tavera, Renault Lodgy,
                                    Chevrolet Enjoy, Toyota Innova (6 + 1 / 7 + 1 seater), Toyota Innova Crysta)</i></p>
                        </td>
                        <td colspan="4" class="tcell14">Rs. 17</td>
                        <td colspan="4" class="tcell15">Rs. 14</td>
                    </tr>
                    <tr class="trow6">
                        <td class="tcell16" colspan="12">
                            <p>Rates given above are <strong>inclusive of GST.</strong></p>
                            <p>One Way Trips- Driver Batta Rs. 300 for Sedan, Driver Batta Rs. 400 for Premium Sedan,
                                Driver Batta
                                Rs. 400 for SUV, Driver Batta Rs. 500 for Premium SUV .
                            </p>
                            <p>
                                One Way Trips - Minimum running must be 100 Kms per day.
                            </p>
                            <p>Round Trips- Driver Batta Rs. 300 for Sedan, Driver Batta Rs. 400 for Premium Sedan,
                                Driver Batta Rs. 400 for SUV, Driver Batta Rs. 500 for Premium SUV .
                            </p>
                            <p>
                                Round Trips - Driver Batta Rs. 500 for Sedan, Driver Batta Rs. 600 for Premium Sedan,
                                Driver Batta Rs. 600 for SUV, Driver Batta Rs. 700 for Premium SUV /
                                - per day if the distance travelled is more than
                                399kms in a single day.
                            </p>
                            <p>
                                Round Trips - Minimum running must be 250 Kms per day. For Bengaluru it is minimum 300
                                Kms
                                per day.
                            </p>
                            <p>
                                Luggage charges Rs.300 for more details please visit luggage policy.
                            </p>
                            <p>
                                Toll fees, Inter-State Permit charges (if any) are extra.
                            </p>
                            <p>
                                1 day means 1 calender day (from 00:00 hrs to 23:59 hrs)
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>