<div class="container-fluid container4 f-fam">
    <div class="subcontent">
        <div class="subcon1">
            <div class="content1">
                <h2 class="primary-title1">DSquare Taxi <small>WELCOMES YOU</small></h2>
                <i>WHO WE ARE?</i>
                <p class="para1">DSquare Taxi, the Brand of Outstation Cab Service acts as a cab booking facilitator
                    connecting
                    Cab operators
                    and Riders across the country. Developed with a vision to use effective technology to take care of
                    your
                    intercity travel needs at the lowest fares. We constantly strive to achieve the benchmarks of cost
                    effective, reliability and flexibility which makes DSquare Taxi a trusted brand for all your
                    Intercity
                    travel
                    needs.
                </p>
                <p class="para2">
                    Being derived from the term, rekla, DSquare Taxi just follows the simple theme of a Rekla race where
                    time
                    and
                    safety are our prime goals.
                </p>
            </div>
        </div>
        <div class="subcon2">
            <div class="content2">
                <div class="context1">
                    <div class="row">
                        <div class="col-sm col1">
                            <h2 class="primary-title2"> DEAR DRIVER-PARTNERS,</h2>
                            <p>We take pride in having you on our platform. We always value your service provided. Stay
                                cool
                                and
                                understand every hard situations from the riders perspective. Riders may not know the
                                local
                                language, may not know the exact place they are in, may not know which route they are
                                heading
                                to. All they know is, you are with them to take care of them. Strive for their safety
                                and
                                comfortability. Driving is not just a profession. Its a Dedication!</p>
                            <b>- Donbosco, Director - DsquareTaxi. </b>
                        </div>
                        <div class="col-sm col2">
                            <h2 class="primary-title2"> DEAR RIDERS,</h2>
                            <p>
                                Thanks for choosing us as your travel partner. We take pride in providing you service.
                                We
                                constantly look forward to acheive reliability and flexibility. Drivers give up their
                                sleep,
                                foods, and they strive only for your safety throughout the entire journey. There are
                                also
                                many
                                graduates who has taken this driving as their profession. Respect them. Driving is just
                                a
                                profession. Not a low standard community!
                            </p>
                            <b>- Donbosco, Director - DsquareTaxi.</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subcon3" id="whatwe">
            <div class="content3">
                <div class="context2">
                    <h2>What We Offer ?</h2>
                    <div class="row mainrow1">
                        <div class="col-md col1">
                            <div class="row">
                                <div class="col-md-3 colsub1">
                                    <i class="fas fa-rupee-sign"></i>
                                </div>
                                <div class="col-md-9  colsub2">
                                    <h3><strong>Fare</strong></h3>
                                    <small>One way</small>
                                </div>
                            </div>
                            <p>
                                Worried paying dual-charges ? Pay only for the distance you travel, While traveling one
                                way.
                            </p>
                        </div>
                        <div class="col-md col2">
                            <div class="row">
                                <div class=" col-md-3 colsub3">
                                    <i class="fas fa-ban"></i>
                                </div>
                                <div class="col-md-9  colsub4">
                                    <h3><strong>hidden charges</strong></h3>
                                    <small>No</small>
                                </div>
                            </div>
                            <p>
                                No Night Charges, Peak-Time Charges, Hill Charges, Waiting Charges or any other hidden
                                charges.
                            </p>
                        </div>
                        <div class="col-md col3">
                            <div class="row">
                                <div class=" col-md-3 colsub5">
                                    <i class="fas fa-id-card"></i>
                                </div>
                                <div class="col-md-9  colsub6">
                                    <h3><strong>Quality Drivers</strong></h3>
                                    <small>Professional</small>
                                </div>
                            </div>
                            <p>
                                Best rated & high-quality professional drivers to make your day a good one.
                            </p>
                        </div>
                    </div>
                    <div class="row mainrow2">
                        <div class="col-md col4">
                            <div class="row">
                                <div class=" col-md-3 colsub7">
                                    <i class="fas fa-gift"></i>
                                </div>
                                <div class="col-md-9  colsub8">
                                    <h3><strong>Flexibility</strong></h3>
                                    <small>Great</small>
                                </div>
                            </div>
                            <p>
                                No waiting charges. Take any number of breaks or visit any place on your way to
                                destination
                                (Round trips).
                            </p>
                        </div>
                        <div class="col-md col5">
                            <div class="row">
                                <div class=" col-md-3 colsub9">
                                    <i class="fas fa-sort-amount-down"></i>
                                </div>
                                <div class="col-md-9  colsub10">
                                    <h3><strong>Fare</strong></h3>
                                    <small>Lowest</small>
                                </div>
                            </div>
                            <p>
                                Lowest fare cards in the market and among the rivals.
                            </p>
                        </div>
                        <div class="col-md col6">
                            <div class="row">
                                <div class=" col-md-3 colsub11">
                                    <i class="fab fa-bitcoin"></i>
                                </div>
                                <div class="col-md-9  colsub12">
                                    <h3><strong>Pricing</strong></h3>
                                    <small>Simple</small>
                                </div>
                            </div>
                            <p>
                                There are no hidden charges. Our math is so simple ! Just pay for the extra kms you
                                travel
                                apart from the fare estimate shown.
                            </p>
                        </div>
                    </div>
                    <div class="row mainrow3">
                        <div class="col-md-4 col7">
                            <div class="row">
                                <div class=" col-md-3 colsub13">
                                    <i class="fas fa-credit-card"></i>
                                </div>
                                <div class="col-md-9  colsub14">
                                    <h3><strong>Discounts and Offers:</strong></h3>
                                    <small>Get</small>
                                </div>
                            </div>
                            <p>
                                Get discounts and promo codes on completion of every trips.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="subcon4">
            <div class="content4">
                <div class="context3">
                    <h2 class="primary-title3">Major Routes</h2>
                    <p>
                        <strong>
                            Droptaxi offers assured One way drop trips in the following cities, provided you book your
                            droptaxi
                            at least 6 hours in advance.
                        </strong>
                    </p>
                    <p>
                        Chennai, Pondicherry, Vellore, Bangalore, Hosur, Neyveli, Kumbakonam, Trichy.
                    </p>
                    <p>
                        <strong>
                            Surrounding towns of the above cities are also serviced.
                        </strong>
                    </p>
                </div>
                <div class="context4">
                    <div class="subcon">
                        <p>
                            Greater Chennai
                        </p>
                        <p>
                            Greater Bangalore
                        </p>
                        <p>
                            Pondicherry Hub – Cuddalore, Tindivanam
                        </p>
                        <p>
                            Vellore Hub – Ranipet, Arcot, Arni, Gudiyatham, Ambur, Vaniyambadi, Melvisharam
                        </p>
                        <p>
                            Neyveli Hub – Chidambaram, Vridachalam, Jayamkondam, Andimadam, Srimushnam, Kattumannarkoil,
                        </p>
                        <p>
                            Vadalur, Sethiathoppu, Panruti, Nellikuppam.
                        </p>
                        <p>
                            Villuppuram – Ulunurpettai, Gingee, Thiruvannamalai, Polur, Melmalayanur, Chetput
                        </p>
                        <p>
                            Hosur – Krishnagiri, Dharmapuri
                        </p>
                        <p>
                            Kumbakonam – Mayiladuthurai, Sirkazhi, VaitheeswaranKoil, Mannargudi, Pattukkottai, Velankanni,
                        </p>
                        <p>
                            Thiruvarur, Nagapattinam, Koothanallur, Tiruthuraipoondi, Kodavasal
                        </p>
                        <p> Trichy Hub – Permbalur, Karur, Pudukkottai, Karaikudi, Thanjavur, Kulithalai, Musiri, Thuraiyur
                        </p>
                    </div>
                </div>
                <div class="context5">
                    <p>
                        <strong> Kindly book at least 24 hours before to provide assured droptaxi for journeys FROM the
                            above towns.
                        </strong>
                    </p>
                    <p>
                        We provide regular services FROM and To Madurai, Kodaikanal, Rameswaram, Rajapalayam, Sivakasi,
                        Tenkasi, Tirunelveli, Tuticorin, Virudhu Nagar, Sattur, Kovilpatti, Aruppukottai, Coimbatore,
                        Ooty,
                        Tiruppur, Erode, Namakkal, Salem, Yercaud. . We are in the process of strengthening our fleet
                        strength and soon shall be able to give assured services. But as of now, we need minimum 24
                        hours
                        advance booking for journey FROM & TO these places.
                    </p>
                    <p>
                        It is our endeavor to provide reliable, transparent and safe travel across all locations in
                        Tamil
                        Nadu and Bangalore City, which would be Convenient (door step pick up and door step drop),
                        Comfortable ( Air Conditioned Cabs) and Cost Comparable ( Versus AC Trains and Buses)
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>