<div class="container-fluid container1 f-fam">
    <div class="content1">
        <h3> Cancellation Policy</h3>
        <p>The trips booked through Drop Taxi can be cancelled.</p>
        <p>There are no cancellation fees except in such cases where the Taxi has already arrived at customer’s
            location. In such cases Rs.300 as One time cancellation fee has to be paid to the driver.</p>
    </div>
    <div class="content2">
        <h3>Luggage Policy</h3>
        <div class="table-responsive-md tablemain">
            <table class="table">
                <tbody>
                    <tr class="tablehead">
                        <td rowspan="2" class="td1">
                            Type of Vehicle
                        </td>
                        <td colspan="2" class="td2">
                            Persons
                        </td>
                        <td rowspan="2" class="td1">
                            Pieces of Luggage
                        </td>
                        <td rowspan="2" class="td1">
                            Luggage Charges
                        </td>
                    </tr>
                    <tr class="tablehead1">
                        <td class="td3">
                            Comfort
                        </td>
                        <td class="td3">
                            Squeeze
                        </td>
                    </tr>
                    <tr class="tablebody2">
                        <td class="td5">
                            <strong>Sedan & Premium Sedan</strong><br>
                            <p>(Sedan - 4 Seater cars)</p>
                            <p>(Premium Sedan - Tata Zest, Hyundai Xcent, swift dzire old / New,
                                Nissan Sunny, Toyota Etios
                                , Ford Figo Aspire )</p>
                        </td>
                        <td class="td4">
                            3
                        </td>
                        <td class="td4">
                            4
                        </td>
                        <td class="td5 fw-bold">
                            3 suitcases of 10 Kg each
                        </td>
                        <td class="td4">
                            Rs 300
                        </td>
                    </tr>
                    <tr class="tablebody3">
                        <td class="td5">
                            <strong>SUV & Premium SUV</strong><br>
                            <p>(SUV - 6 or 7 Seater cars )</p>
                            <p>(Premium SUV - Mahindra xylo, Mahindra Marazzo, Chevrolet Tavera, Renault Lodgy,
                                Chevrolet Enjoy, Toyota Innova (6 + 1 / 7 + 1 seater), Toyota Innova Crysta )</p>
                        </td>
                        <td class="td4">
                            6
                        </td>
                        <td class="td4">
                            7
                        </td>
                        <td class="fw-bold td5">
                            6 suitcases of 10 Kg each
                        </td>
                        <td class="td4">
                            Rs 300
                        </td>
                    </tr>
                    <tr class="tablebottom">
                        <td colspan="5">
                            We understand luggages are not only suitcases. They are of different shapes and sizes. <br>
                            <strong>Above table is only indicative. Excess luggage charges, if any, will be at the
                                discretion of driver.</strong><br>
                            Kindly note, taxis are passenger vehicles only.<br>
                            You can call our Call centre for any dispute resolution.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>